table {
  width: 100%;
}

.fab-add-agency {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

.mat-row:hover .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  border-color: currentColor;
}

.mat-row .mat-cell {
  cursor: pointer;
}
