table {
  width: 100%;
}

.placeholder-container {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5rem;
}

.fab-add-agency {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

.mat-row .mat-cell {
  cursor: pointer;
}

// Columns Proportion
.mat-column-id {
  flex: 0 0 10%;
}

.mat-column-name {
  flex: 0 0 20%;
}

.mat-column-city {
  flex: 0 0 10%;
}

.mat-column-country {
  flex: 0 0 10%;
}

.mat-column-countryCode {
  flex: 0 0 10%;
}

.mat-column-street {
  flex: 0 0 10%;
}

.mat-column-currency {
  flex: 0 0 10%;
}

.mat-column-contactPerson {
  flex: 0 0 15%;
}
